version: '3.8'
services:
  redis-scim:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'
    command: redis-server --save 60 1 --loglevel warning
  docker-go-scim:
    image: erikmanoroktacom/docker-go-scim:v2.11
    ports:
      - 8082:8082
      - 9002:9002
    links: 
      - redis-scim
    depends_on:
      - redis-scim
    volumes:
      - goscim-config:/goscim-config:ro
volumes:
  goscim-config:
    external: true

      
