{{template "header" .}}


<div id="content" class="ui text container">
  <h2>Okta SAML Assertion Flow Example</h2>

  <div>
    <p>Config</p>
    
  </div>

  <!--form method="get" action="login">
    <button id="login-button" class="btn btn-primary" type="submit">Login</button>
  </form-->



</div>
{{template "footer"}}